* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url(/images/music\ background.png);
    background-size: cover;
    background-color: rgba(100, 255, 255, 0.7);
    background-size: 800px 600px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

h3 {
    text-align: center;
    color: black;
    padding: 20px;
    text-align: center;
    background-color: white;
    display: block;
    height: 20px;
    width: 400px;
    border-radius: 20px;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    transition: 0.3s;
}

.row-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.container {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px, 20px;
    column-gap: 40px;
}



.col {
    background: white;
    color: black;
    display: block;
    height: 60px;
    width: 50px;
    border-radius: 50px;
    margin: 20px auto;
    /* text-decoration: none; */
    text-decoration-color: lightblue;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    /* transition: 0.3s; */
    
}

#albumphoto span {
    display: block;
    text-align: center;
}

#albumphoto,
#musicline,
#dot {
    margin-bottom: 20px;
}

#musicline,
#dot {
    height: 2px;
    background-color: #333;
    
}

#dot {
    height: 20px;
    width: 20px;
    background-color: #333;
    border-radius: 50%;
}

#albumphoto {
    background: white;
    padding: 200pv;
}

.col2 {
    background-color: white;
    height: 100px;
    width: 100px;
    display: flex;
    margin: 0 auto 20px auto;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    margin-bottom: 20px;

}


.musicline {
    /* height: 2px; */
    background-color: #333;
    color: ;


}

.dot {
    height: 20px;
    width: 20px;
    background-color: #333;
    border-radius: 50%;
    margin-bottom: 20px;

}

.lyrics {
    padding-bottom: 20vh;
    margin-bottom: 0;
    background: white;
    
    

}

.row {
    margin-bottom: 20px;
}

