
body {
        background-image: url(/images/music\ background.png);
        background-size: cover;
        background-color: rgba(100, 255, 255, 0.7);
        background-size: 800px 600px;
        margin-bottom: 0;
        padding-bottom: 0;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
}